/*
 * 可复用的公有布局
 */

 /* 鼠标光标 */
.curs{
    cursor: pointer;
}

/* 组件样式 */
.totns{
    width: 150px;
    height: 150px;
    background: rgb(0, 0, 0,.7);
    position: fixed;
    top: calc(50% - 75px);
    right: calc(50% - 75px);
    border-radius: 25px;
    color: white;
    text-align: center;
}
.top{
    font-size: 40px;
    line-height: 246%;
}

/* addfooter样式 */
.footer{
    width: 100%;
    height: 77px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
}
.item{
    width: 40px;
    height: 77px;
    line-height: 1.5;
    color: grey;
}
.icon{
    font-size: 30px!important;
}
.active{
    color: blue;
}
